<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Tej Kumar an Ethical Hacker, Bug Hunter, DevOps Engineer, Digital Forensics Enthusiast and Amateur Photographer">
    <title>{{page.title}} | {{site.title}}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <link rel="icon" href="{{ site.baseurl }}/assets/img/fav.png">
</head>