{% include header.html %}
<link rel="stylesheet" href="/assets/css/about.css" >  

<body>
    {% include navbar.html %}
    
    <div class = "main-container">   
        <div class="header">
            <h2>{{page.title}}</h2>
        </div>

        {{content}}
        

        <h3>Education</h3>
        <div class="box fade-out">
            <ul class="timeline">
                <li class="timeline-item">
                    <span class="time">2018</span>
                    <h3 class="event">Bachelor of Technology - Computer Science and Engineering</h3>
                    <p class="description">Jawaharlal Nehru Technological University, Anantapur</p>
                </li>
            </ul>
        </div>
        
        <h3>Skills</h3>
        <div class="box">
            <ul class="skill">
                <li class="skill-name">Python
                    <div class="skill-bar skill1"></div>
                </li>
                <li class="skill-name">HTML
                    <div class="skill-bar skill2"></div>
                </li>
                <li class="skill-name">CSS
                    <div class="skill-bar skill3"></div>
                </li>
                <li class="skill-name">Javascript
                    <div class="skill-bar skill4"></div>
                </li>
                <li class="skill-name">DevOps Tools
                    <div class="skill-bar skill5"></div>
                </li>
                <li class="skill-name">Web security
                    <div class="skill-bar skill6"></div>
                </li>
                <li class="skill-name">Testskill
                    <div class="skill-bar skill7"></div>
                </li>
            </ul>
        </div>
        
        <h3>Achievements</h3> 
        <div class="box fade-out">
            <ul class="achievements">
                <li class="achievement-name">1. Hall of Fame -<a href="https://litmind.com/bughunters">Litmind</a></li>
                <li class="achievement-name">2. Appreciation Letter - Lightning Insights Inc.</li>
                <li class="achievement-name">3. Appreciation Certificate - Work India Pvt. Ltd.</li>
                
            </ul>
        </div>
        
        <h3>Hobbies</h3>
        <div class="box fade-out">
            <ul class="categories">
                <li class="categories-name"><a href="#">Cooking</a></li>
                <li class="categories-name"><a href="#">Photography</a></li>
                <li class="categories-name"><a href="#">Water Coloring</a></li>
            </ul>
        </div>
    </div>
    
    {% include footer.html%}
<script src="/assets/js/about.js"></script>
</body>
</html>