{% include header.html %}

<body>
    <canvas id="particles-canvas"></canvas>
    {% include navbar.html %}

    <main class="main-container about-page fade-in-section">
        <div class="header">
            <h1>{{ page.title }}</h1>
        </div>

        {{ content }}

        <div class="text-center mb-2 mt-2">
            <a href="https://blog.tejkumar.in" class="btn btn-primary">Blog</a>
            <a href="/contact/" class="btn btn-primary">Contact</a>
            <a href="/certifications/" class="btn btn-primary">Certifications</a>
            <a href="/projects/" class="btn btn-primary">Projects</a>
        </div>

        <h3>Education</h3>
        <div class="profile-section">
            <ul class="timeline">
                <li class="timeline-item">
                    <span class="time">2018</span>
                    <h4 class="event">Bachelor of Technology - Computer Science and Engineering</h4>
                    <p class="description">Jawaharlal Nehru Technological University, Anantapur</p>
                </li>
            </ul>
        </div>

        <h3>Skills</h3>
        <div class="grid-2 mb-2">
            <ul class="skill">
                <li class="skill-name">Information Security
                    <div class="skill-bar">
                        <div class="skill-progress" data-width="90%"></div>
                    </div>
                </li>
                <li class="skill-name">Network Security
                    <div class="skill-bar">
                        <div class="skill-progress" data-width="85%"></div>
                    </div>
                </li>
                <li class="skill-name">Web Security
                    <div class="skill-bar">
                        <div class="skill-progress" data-width="80%"></div>
                    </div>
                </li>
                <li class="skill-name">Digital Forensics
                    <div class="skill-bar">
                        <div class="skill-progress" data-width="75%"></div>
                    </div>
                </li>
            </ul>
            <ul class="skill">
                <li class="skill-name">DevOps Tools
                    <div class="skill-bar">
                        <div class="skill-progress" data-width="85%"></div>
                    </div>
                </li>
                <li class="skill-name">Python
                    <div class="skill-bar">
                        <div class="skill-progress" data-width="80%"></div>
                    </div>
                </li>
                <li class="skill-name">Linux
                    <div class="skill-bar">
                        <div class="skill-progress" data-width="90%"></div>
                    </div>
                </li>
                <li class="skill-name">Databases
                    <div class="skill-bar">
                        <div class="skill-progress" data-width="70%"></div>
                    </div>
                </li>
            </ul>
        </div>

        <h3>Achievements</h3>
        <div class="cert-grid mb-2">
            <a href="https://litmind.com/bughunters" target="_blank" class="cert-card">
                <img src="/assets/img/hof.png" alt="Hall of Fame" style="height: 60px; margin-bottom: 1rem;">
                <div class="cert-title">Hall of Fame - Litmind</div>
            </a>
            <div class="cert-card">
                <img src="/assets/img/appreciation.jpg" alt="Appreciation" style="height: 60px; margin-bottom: 1rem;">
                <div class="cert-title">Appreciation Letter - Lightning Insights Inc.</div>
            </div>
            <div class="cert-card">
                <img src="/assets/img/appreciation.png" alt="Appreciation" style="height: 60px; margin-bottom: 1rem;">
                <div class="cert-title">Appreciation Certificate - Work India Pvt. Ltd.</div>
            </div>
        </div>

        <h3>Hobbies</h3>
        <div class="cert-grid">
            <div class="cert-card">
                <img src="/assets/img/cooking.png" alt="Cooking" style="height: 60px; margin-bottom: 1rem;">
                <div class="cert-title">Cooking</div>
            </div>
            <div class="cert-card">
                <img src="/assets/img/photography.png" alt="Photography" style="height: 60px; margin-bottom: 1rem;">
                <div class="cert-title">Photography</div>
            </div>
            <div class="cert-card">
                <img src="/assets/img/watercoloring.png" alt="Water Coloring"
                    style="height: 60px; margin-bottom: 1rem;">
                <div class="cert-title">Water Coloring</div>
            </div>
            <div class="cert-card">
                <img src="/assets/img/music.png" alt="Music" style="height: 60px; margin-bottom: 1rem;">
                <div class="cert-title">Music</div>
            </div>
        </div>
    </main>

    {% include footer.html %}
    <script src="/assets/js/about.js"></script>
    <script src="/assets/js/particles.js?v={{ site.time | date: '%s' }}"></script>
</body>

</html>