{% include header.html%}
<link rel="stylesheet" href="/assets//css/intro.css">
<body>
    {% include navbar.html%}

    </div>

    <div class="intro-wrap">
        <div class ="blur">
            Welcome to my blog!
        </div>
        <div class= "intro-start">
            
            <div class="intro-content">
            <h1>
                Hi, I'm Tej 👋
            </h1>
            <h2 class="typing"></h2>
            <br>
            <a href="/about/"><button class="btn dark-btn">About Me</button></a>
            <a href="#Resume Link" target="https://mega.nz/file/2ro30SJQ#tkIeJZJ3l5M-E5vzEFNTkPyJ1chEMh-ihi1OI12Bk-c"><button class="btn light-btn">Download CV</button></a>
        </div>
        </div>
    </div>
    {% include footer.html%}
</body>
<script src="/assets/js/text_typing.js"></script>
</html>

