{% include header.html%}
<link rel="stylesheet" href="/assets/css/intro.css">
<body>
    {% include navbar.html%}

    </div>

    <div class="intro-wrap">
        

        <div class="container">
            <img src="/assets/img/home.jpg" alt="Snow" style="width:100%;">
            
        </div>

        <div class= "centered">
            
            <div class="intro-content">
            <h1>
                Hi, I'm Tej 👋 <iframe src="https://giphy.com/embed/J60klcdfVdpryi1u78" width="480" height="384" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/stickers/wave-cru-creucat-J60klcdfVdpryi1u78">via GIPHY</a></p>
            </h1>
            <h2 class="typing"></h2>
            <br>
            <a href="/aboutme/"><button class="btn btnhome">About me</button></a>
            <a href="https://www.linkedin.com/in/iamtejkumar" target="_blank"><button class="btn btnhome">LinkedIn</button></a>
        </div>
        </div>
    </div>
    {% include footer.html%}
</body>
<script src="/assets/js/text_typing.js"></script>
</html>

