{% include header.html%}
<link rel="stylesheet" href="/assets/css/projects.css">
<link rel="stylesheet" href="/assets/css/main.css">
<body>
    {% include navbar.html%}

    <div class = "main-container">
        <div class="header">
            <h2>{{page.title}}</h2>
        </div>
    
        <div>
            <div class="project-wrapper">
                <div class="project-image-wrapper">
                    <img class="project-image" src="/assets/img/projects/project1.jpg" alt="project-image">
                </div>               
                <div class="project-container">
                    <div class="project-title">BIRD Sec - Product Security</div>
                    
                    <p class="project-details">Roles and Responsibilities:<br />
                        •	Conducting Vulnerability Assessment and Penetration Testing.<br />
                        •	Performing OWASP attacks and tightening security.<br />
                        •   Securing internal infrastrucutre.<br />
                        •	Creation of PoC vulnerability reports.<br />
                        •	Monitoring logs for suspicious activities.<br />
                        •	Coordinate with Dev and QA team for mitigations.<br />
                        •	Responsible for Product Security.<br />
                        •	Maintaining firewall rules.<br /></p>
                    
                    
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project-image-wrapper">             
                    <img class="project-image" src="/assets/img/projects/project2.jpg" alt="project-image">
                </div> 
                <div class="project-container">
                    <div class="project-title">HydroQ - Environmental Pollution Management System</div>
                    
                    <p class="project-details">Roles and Responsibilities:<br />
                        •	Installation and configuration product on the cloud environment.<br/>
                        •	Backup and restore databases.<br />
                        •	Wrote shell automation script of product installation and configuration on cloud.<br />
                        •	Monitoring Logs for suspicious activities.<br />
                        •	White label product based on clients’ requirements.<br />
                        •	Plotting dashboards as per clients’ requirements.<br />
                        •	Wrote automation script to take database backups and restore.<br />
                        •	Maintaining servers across various cloud environments.<br/>
                    </p>
                    
        
                </div>
            </div>
            
        </div>
    </div>

    {% include footer.html%}
</body>
</html>