</div>

<div class="project-wrapper">
    <div class="project-image-wrapper">
        <img class="project-image" src="/assets/img/projects/project2.jpg" alt="project-image">
    </div>
    <div class="project-container">
        <div class="project-title">HydroQ - Environmental Pollution Management System</div>

        <p class="project-details">Roles and Responsibilities:<br />
            • Installation and configuration product on the cloud environment.<br />
            • Backup and restore databases.<br />
            • Wrote shell automation script of product installation and configuration on cloud.<br />
            • Monitoring Logs for suspicious activities.<br />
            • White label product based on clients’ requirements.<br />
            • Plotting dashboards as per clients’ requirements.<br />
            • Wrote automation script to take database backups and restore.<br />
            • Maintaining servers across various cloud environments.<br />
        </p>


    </div>
</div>

</div>
</div>

{% include footer.html%}
</body>

</html>